:root{
    --colorfilter: rgba(2, 2, 22, 0.3); 
    
}

.classheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)),  url("../images/pont.jpg");
    background-color: grey;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;


}