:root{
    --colorfilter: rgba(0, 0, 0, 0.4); 
    
}

.mainheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../images/pont.jpg") ;
    
    opacity: 0.87; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;


}


.cabinetheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../images/toits.jpg") ;
    opacity: 0.87; 
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.competencesheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../images/skyscraper.jpg") ;
    opacity: 0.87; 
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}