:root{
    --navcolor: white; 
    --navhover: lightyellow; 
}


.classnavbar{
    display: flex;
    gap: 4%;
    padding-top: 2%;
    color: var(--navcolor);
    justify-content: center;
   

}




.link{
    font-size: 0.7rem;
    text-decoration: none;
    color: white
}

.link:hover{
    color: var(--navhover);
}