@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@500&display=swap');

:root{
    --colorfilter: rgba(19, 12, 102, 0.5); 
    --mainFont: "EB Garamond", serif;  /* "Arial"*/
    --shaddowHeader: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
    
}



.mainheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/pont.jpg") ; 
    opacity: 0.95; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*filter: contrast(70%);*/
    filter: brightness(90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 


}





.cabinetheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/toits.jpg") ;
    opacity: 0.87; 
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}



.competencesheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/skyscraper.jpg") ;
    opacity: 0.87; 
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}

.honorairesheader{
    width: 100%;  
    background-image: url("../../images/sign.jpg") ; /*  linear-gradient(to bottom, var(--colorfilter), var(--colorfilter))*/
    background-size: cover;
    background-position: bottom; 
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}
.contactheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/contact.jpg") ;
    opacity: 0.87; 
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}

.backicon{
    display: none;
}

.nobackicon{
    display: none;
}



@media (max-width: 700px) {
    
    
    .mainheader{
        display: flex;
        flex-direction: column;
        
    }

    .backicon{
        display: block; 
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    

    .cabinetheader, .competencesheader,.honorairesheader, .contactheader {
       height: 10vh;
       position: relative;
    }
    
    
    
  
}
