@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@500&display=swap');

:root{
    --colorfilter: rgba(19, 12, 102, 0.5); 
    --mainFont: "EB Garamond", serif;  /* "Arial"*/
    --shaddowHeader: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
    
}



.mainheader{
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/pont.jpg") ; 
    opacity: 0.95; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    /* cover pour les navigateurs */
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    
    filter: brightness(90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 


}





.cabinetheader{
    position: relative;
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/toits.jpg") ;
    opacity: 0.87; 
    background-size: cover;

    /* cover pour les navigateurs */
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;

    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}



.competencesheader{
    position: relative;
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/skyscraper.jpg") ;
    opacity: 0.87; 
    background-size: cover;

    /* cover pour les navigateurs */
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;

    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}

.honorairesheader{
    position: relative;
    width: 100%;  
    background-image: url("../../images/sign.jpg") ; /*  linear-gradient(to bottom, var(--colorfilter), var(--colorfilter))*/
    background-size: cover;
    
    /* cover pour les navigateurs */
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    
    background-position: bottom; 
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}
.contactheader{
    position: relative;
    width: 100%;  
    background-image: linear-gradient(to bottom, var(--colorfilter), var(--colorfilter)) , url("../../images/contact.jpg") ;
    opacity: 0.87; 
    background-size: cover;
    
    /* cover pour les navigateurs */
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--mainFont); 
    box-shadow: var(--shaddowHeader); 
}

.navandcontact{
    display: flex;
}

/* retour page precedente en responsive */

.backicon{
    display: none;
}

.nobackicon{
    display: none;
}



@media (max-width: 700px) {
    
    
    .mainheader{
        display: grid;
        grid-auto-flow: row ;
        grid-template-rows: 1% 19% 80%;
        background-attachment: local;
        background-image: url("../../images/pont.jpg") ; 
    }

    .backicon{
        display: block; 
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    
    /* hauteur responsive */

    .cabinetheader, .competencesheader,.honorairesheader, .contactheader {
       height: 10vh;
       position: relative;
    }
    
    
    
  
}
