.classfooter{
    height: 90vh;
    width: 100%;
    background-color: rgb(60, 60, 150);
    color: rgb(247, 246, 210);
    font-family: var(--mainFont);
}

.classfooter > h1 {
    padding: 5% 0;
    margin:auto;
    text-align: center;
}


.footercontainer{
     
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 5%;
    font-size: 1rem;
}