:root{
    --sectionshaddow: inset 0rem .1rem 0.3rem  rgba(145, 131, 131, 0.4); 
}


.accompagne{
    height: 100vh;
    background-color: rgb(248, 242, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--sectionshaddow) ;
}
.accompagne > h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5%;
}

.accompagne > p {
    width: 70%;
    margin: auto;
}

.accompagne > img {
    margin: auto;
    width: 30vw;
    object-fit: cover;
}

.expertise {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: azure;
    box-shadow: var(--sectionshaddow) ;
}

.expertise > h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 3%;
    
}

.expertise > p {
    
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
}


.figurecontainer{
    
    display: grid;
    max-width: 700px;
    gap: 10px;
    width: 50%; 
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.figurecontainer > figure > img{
    max-width: 260px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.figurecontainer > figure {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.figurecontainer:has(figure:hover) > figure:hover{
    border: 2px solid black;
}

.figurecontainer > figure > figcaption{
    text-align: center;
    font-size: 0.9rem;
}

.engagement{
    text-align: center;
    height: 100vh;
    background-color: beige;
    display: flex;
    gap: 4%; 
    flex-direction: column;
    box-shadow: var(--sectionshaddow) ;
}

.engagement > h2{
    font-size: 2.5rem;
    margin: 0;
    padding: 2% 0;
}


.engagement > ul > li {
    list-style-type: none;
    font-size: 1.1rem;
}