:root{
    --navhover: rgb(197, 197, 176); 
    --navBg: rgb(255, 255, 255); 
}


/* navbar sur la page main/index 
*
* pas de background-color 
*
*/


.mainnavbar{
 
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    gap: 2%;
    width: 80%;
    min-width: 700px;
    padding-top: 2%;
    margin: auto;

}


/* navbar sur toutes les autres pages */



.secondnavbar{
    position: absolute;
    top: 0;
    background-color: var(--navBg);
    display: grid;
    gap: 0%;
    width: 100%;
    height: 8%;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
   /* grid-template-rows: 20% 1fr;*/

}


@media (max-width: 700px) {
    
    .mainnavbar{
        display: flex;
        flex-direction: column;
        gap: 1%; 
        height: 70%;
        order: 2;
        margin-top: 10%;
        padding: 0;
        min-width: 0;
    }

    .secondnavbar{
        display: none;
    }
    


}


