::root{
    --fontlink: rgb(177, 151, 151); 
}


.classnavlink{
    font-size: .9rem;
    height: 100%;
    background-color: transparent;
    text-decoration: none;
    /* text-shadow: 0.2rem -0.3rem  rgb(70, 19, 19); */
    
}

.divLink{
    
    display: flex;

    border: none;
    flex-direction: column;
    margin-left: 5%;
}



.classnavlink:hover{
    color: var(--navhover);
    
}



.nothovered{
  display: none;


    
}


.hovered{
    transform: translateY(60%);
    background-color: white;
    color: black;
}


@media (max-width: 700px) {
    
    .divLink{
        flex-direction: row;
        align-items: center;
    }
    .classnavlink{
        font-size: 1.1rem;
        background-color: rgba(238, 167, 167, 0.7);
        border-radius: 20px;
        padding: 4%;
        flex: 1;
        text-align: center;
    }

   


    .hovered{
        display: none;
    }
    .nothovered{
       display: none;
    }

}
