::root{
    --fontlink: rgb(177, 151, 151); 
}

/* classe du component navlink basique */


.divLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classnavlink{
    margin-top: 5% ; 
    grid-row: 1;
    display: inline;
    text-decoration: none;
    margin-bottom: 5%;


}



.hovered{
    display: block;
    background-color: white;
    height: 30vh;
    
}


.nothovered{
    display: block;
    background-color: transparent; 
    height: 30vh;
}







/* responsive */

@media (max-width: 700px) {
    
    .divLink{
        display: flex;
        
        flex-direction: row;  
        align-items: center;
    }
    .classnavlink{
        font-size: 1.1rem;
        background-color: rgba(238, 167, 167, 0.7);
        border-radius: 20px;
        padding: 2%;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .hovered{
        display: none;
    }
    .nothovered{
       display: none;
    }

}
