.classnouscontacter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20%;
    text-decoration: none;
    background-color: lightgrey;
    border: none;
    height: 11%;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    font-family: var(--mainFont);
    margin-top: 7%;

}




.classnouscontacter::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: lightyellow;
    z-index: -1;
    border-radius: 20px;

}



.classnouscontacter:hover.classnouscontacter::after{ 
    opacity: 1;
    
}

@media (max-width: 700px) {
    
.classnouscontacter{
    padding: 0;
    margin-top: 10%;
    height: 10%;
    width: 100%;
}

}